
<h2>My Heroes</h2>
<ul class="heroes">
    <!-- Add a click event binding -->
    <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<!-- for invididual hero along with the pipngproperty , ngModel is for two way binding -->
<!-- <h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div> -->
<!-- <div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
      </label>
    </div>
  
</div> -->
<!-- Property binding [hero]="selectedHero" is an Angular property binding. -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>



